@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

body{
  background-color: #F8F8F8;
}

.blue-font{
  color: #4682A9;
}

.img-wrapper{
  width: 50px;
}

.img-footer{
  width: 200px;
}

.swiper {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.one-page {
  min-height: 70dvh;
}

.navbar{
  background-color: #F8F8F8;
}

.news-wrapper .news-wrap .text-wrapper .title{
font-size: 18px;
}

.news-wrapper .news-wrap .text-wrapper .date{
font-size: 14px;
}

.home .head-title{
  color: #4682A9;
  font-size: 28px;
}

.activity-wrap{
  background-color: white;
}
.activity-wrap:hover{
  background-color:   #4682A9;
  color: white;
}

.sop .header-section .btn-tab.active{
  background-color: #1D265C;
  color: white;
  cursor: default;
}

.sop .header-section .btn-tab{
  cursor: pointer;
}

.sop .title {
  font-size: 20px;
}

@media(max-width: 767px){

  .sop .title {
    font-size: 12px;
  }

  .news-wrapper .news-wrap .text-wrapper .title{
  font-size: 16px;
  }

  .news-wrapper .news-wrap .text-wrapper .date{
  font-size: 12px;
  }
}

.title-wrapper{
  font-weight: 500;
  font-size: 12px;
}

.head-title{
  color: #749BC2;
}

.foot-text{
  color: #749BC2;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.title-content{
  font-weight: 600;
  color: #4682A9;

}

.content-title{
  font-weight: 600;
}

.content-desc{
  font-size: 12px;
}


footer {
  padding-bottom: 40px;
  background-color: #F8F8F8;
}
footer .footer-wrapper .foot .one .brand {
  font-family: "Pacifico", cursive;
  color: rgb(109, 181, 248);
  text-decoration: none;
}
footer .footer-wrapper .foot .one .brand span {
  color: rgb(42, 42, 42);
}
footer .footer-wrapper .foot .one .desc-brand {
  margin-top: 1rem;
}
footer .footer-wrapper .foot .title {
  text-decoration: none;
  font-weight: 600;
}
footer .footer-wrapper .foot .desc a {
  text-decoration: none;
  color: black;
}
footer .footer-wrapper .foot .five i {
  color: white;
}

.footer-2 {
  padding: 5px 0;
  background-color: rgb(235, 235, 235);
}
.footer-2 a {
  text-decoration: none;
  color: black;
}

.swiper-button-next, .swiper-button-prev{
  color: white !important;
}